.resource-hero-bg {
  background-image: url("../assets/images/mainbg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 70vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-hero-title {
  color: #fff !important;
  font-size: 9.2rem !important;
  font-weight: 600 !important;
  text-align: center;
}
.resource-card{
  background-color: transparent !important;
  border-color: #ff9500 !important;
  border-radius: 20px;
  margin-top: 38px;
}
.resource-main-title{
   font-size: 42px !important;
   color: #ffffff !important;
   font-weight: 700;
   padding-left: 16px;
}
.resource-text{
   font-size: 22px !important;
   color: #ffffff !important;
   padding-left: 16px;
}

.resource-description{
   font-size: 1.2rem !important;
   color: #ffffff !important;
}
.inside-card{
  background-color: transparent !important;
  border-color: #ff9500 !important;
  border-radius: 20px;
  margin-top: 24px;
  transition: box-shadow 0.3s;
  height: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inside-card:hover {
  box-shadow: 1px 4px 12px #ff9500;
  cursor: pointer;
}
.card-title{
  font-size: 1.6rem !important;
  color: #ffffff !important;
}
.card-description{
  font-size: 1rem !important;
  color: #ffffff !important;
}

