/* Hero */
.cb-bg {
  background-color: #000;
  /* background-image: url("../assets/images/mainbg.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cb-title {
  color: #fff !important;
  font-size: 7rem !important;
  font-weight: 600 !important;
  margin: 0;
  text-align: center;
  line-height: 1.1;
}
@media (max-width: 1200px) {
  .cb-title {
    font-size: 7rem !important;
  }
}
@media (max-width: 768px) {
  .cb-title {
    font-size: 4rem;
  }
  .cb-bg {
    min-height: 20vh !important;
  }
}
@media (max-width: 480px) {
  .cb-title {
    font-size: 2.8rem;
    padding: 0 10px;
  }
}

.outreach-bg{
  background-image: url("../assets/images/mainbg.jpg");
   background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
/* Navigation card */
.sos-nav-card {
  background-color: transparent !important;
  border-radius: 20px !important;
  border: none !important;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sos-nav-title {
  color: #ffffff !important;
  margin-bottom: 8px !important;
  font-size: 30px !important;
  font-weight: 700 !important;
}

.sos-nav-underline {
  width: 80px;
  height: 3px;
  background-color: #ff8c00;
}

@media (max-width: 768px) {
  .sos-nav-card {
    padding: 0px 12px 12px 12px;
  }

  .sos-nav-title {
    font-size: 18px !important;
    font-weight: 400 !important;
  }

  .sos-nav-underline {
    width: 60px;
    height: 2px;
  }
}

/* Navigation buttons */
.sos-nav-btn {
  max-width: 300px;
  border: 1px solid #555555;
  border-radius: 6px;
  background: transparent;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  font-size: 1.1rem;
}
.sos-nav-btn:hover {
  transform: translateY(-4px) scale(1.05);
  border-color: #ff8c00 !important;
  box-shadow: 0 4px 16px rgba(255,140,0,0.1sos-nav-btn-row5);
}
.sos-nav-btn:active,
.sos-nav-btn-active {
  background-color: #ff8c00 !important;
  border-color: #ff8c00 !important;
  color: #fff !important;
}
.sos-nav-btn-row {
  display: flex !important;
  justify-content: center !important;
  gap: 3px !important;
  
}

@media (max-width: 992px) {
  .sos-nav-card .ant-card-body {
    padding: 40px 20px;
  }
  .sos-hero-title {
    font-size: 4rem;
  }
}
